{% extends "pagina/index.html" %}

{%block content%}

<style>

    body{
        background: url("/static/img/fondo.png")50% fixed;
        color:rgb(0,0,0)
        }
    
    #editarinventario{
        font-family:Taviraj;
        margin-top:100px;
        display: grid;
        justify-content: center;
        align-items: center;
        background-color:rgba(83, 239, 244, 0.5);
    }
    form{
        font-family:Taviraj;
        border-radius:10px;
        background-color:rgb(255, 255, 255, .5);
        padding:15px;
        font-size:20px;
       
    }
    form h1{
        margin-top: 10px;
        text-align:center;
        font-family:Taviraj;
    }
</style>




<body>
    
    <div id="editarinventario"class="mb-3">
        <h1>Modificar productos</h1>
        <form method="post" action="../producto_editar">
            {% csrf_token %}

            <label for="id" class="form-label">Codigo: </label><br>
            <input type="number" class="form-control" id="id" name="id" value="{{objeto.id}}" readonly/><br>

            <label for="nombre" class="form-label">Nombre: </label><br>
            <input type="text" class="form-control" id="nombre" name="nombre" value="{{objeto.nombre}} "/><br>

            <label for="disponibles" class="form-label">Cantidad: </label><br>
            <input type="number" class="form-control" id="disponibles" name="disponibles" placeholder="{{objeto.disponibles}}"/><br>
            
            <label for="description" class="form-label">Descripción: </label><br>
            <input type="text" class="form-control" id="description" name="description" value="{{objeto.description}} "/><br>

            <label for="ubicacion" class="form-label">Ubicación: </label><br>
            <input type="text" class="form-control" id="ubicacion" name="ubicacion" value="{{objeto.ubicacion}} "/><br>

            
            <input type="submit" class="btn btn-info" name="opcion" value="Modificar ítem">
            <a href="{% url 'inventarioadmin' %}"><input type="button" class="btn btn-success"value="Volver al inventario"> </a>
        </form>
        
    </div>

</body>

{%endblock%}