{% extends "pagina/index.html" %}
{% load static %}
{%block content%}

<style>

body{
  background: url("/static/img/fondo2.png")50% fixed;
  color:rgb(56, 8, 74);
  font-family:monospace;
  font-size: 20px;
  
  }
#informacion{
    margin: 15px;
}  
#imagen{
    margin: 40px;
    margin-bottom: 100px;
    height: 150px;
    
}
</style>
<body>
    <div class="row"> 
        <div id="imagen" class="col-md-6" >
            <img class="card-img-top" src="{% static 'img/evento4.png' %}" alt="Card image cap"style="margin-bottom: 200px;">
        </div>
        <div id="informacion" class="col-md-5">
            <h4>Feria Otagamer</h4>
            <h2>"Hanami"</h2>
            <ul>
                <li>Fecha: 10 de Noviembre</li>
                <li>Hora: 11:00 a 19:00 hrs</li>
                <li>Tipo de evento: Geek</li>
                <li>Entrada: Gratuita</li>
                <li>Dirección: Cerro primo de Rivera</li>
                <li>Comuna: Maipú</li>
                <li>Organiza: Otagamer</li>
            </ul>
        <div class="col-md-1"></div>
        </div>

</body>
{%endblock%}