{% extends "pagina/index.html" %}

{%block content%}
<style>

body{

    background: url("/static/img/fondo2.png")50% fixed;
    color:rgb(56, 8, 74);

}


#tablaMision{
    border-radius:10px;
    background-color:rgba(255, 255, 255,0);
    font-family:monospace;
    color:rgb(56, 8, 74);
    font-size:20px;
    padding:15px;
    margin: 50px;
    text-align: justify;
    max-width: 80%;

}
h4{
    font-size:35px;
    font-family:monospace;
}
p{
    font-family:monospace;
}
</style>
<body>
    
    <div class="row" >
        <div id="tablaMision">
            <h4>¿Que es Geek-Maps?</h4>
            <p></p>
            <p> Geek Maps es una plataforma web diseñada para centralizar y mejorar la visibilidad de ferias y eventos de temática geek, especialmente aquellos de menor escala. Su objetivo es conectar a la comunidad geek con eventos cercanos de forma fácil y accesible, ofreciendo un calendario interactivo, opciones de búsqueda avanzada y espacios para que los organizadores publiquen y gestionen sus eventos. </p>
        </div>
    </div>  
</body>
{%endblock%}