{% extends "pagina/index.html" %}

{%block content%}
<style>
    body{
        background: url("/static/img/fondo.png")50% fixed;
        color:rgb(0,0,0)
        }

    #bordetabla{
        border-radius:10px;
        background-color:rgba(83, 239, 244, 0.5);
        padding:15px;
        margin:45px;
    }
    #bordetabla h1{
        text-align: center;
        color: rgb(255,255,255);

    }
    #cabezatabla th{
        background-color: gray;
    }
    #botones {
        text-align: center;
        
    }
</style>
    
<body>
    <div id="bordetabla">
        <h1>Usuarios del sistema</h1>
            {% if usuarios %}
            <table class="table table-striped table-dark table-hover table-bordered">

                <div id="botones">
                    <a href="{% url 'usuario_agregar' %}"><input type="button" class="btn btn-success"value="Agregar usuario"></a> 
                </div>

                <thead id="cabezatabla">
                    <th>Nombre de usuario</th>
                    <th>Correo</th>
                    <th>Contraseña</th>
                    <th>Tipo de usuario</th>
                    <th></th>
                    <th></th>
                </thead>

                {% for usuario in usuarios %}

                <tr>
                    <td>{{usuario.username}}</td>
                    <td>{{usuario.correo}}</td>
                    <td>{{usuario.password}}</td>
                    <td>{{usuario.tipo}}</td>
                    <td><a href="{% url  'usuario_edit' key=usuario.correo%}"><input type="button" class="btn btn-warning" value="Modificar usuario"></a></td>
                    <td><a href="{% url  'usuario_del' key=usuario.correo%}"><input type="button" class="btn btn-danger" value="Eliminar usuario"></a></td>

                </tr>
                {% endfor %}
            </table>
        {% endif %}
    </div>
    
    
</body>

{%endblock%}